@charset "UTF-8";
/*------------------------------------*\
    $STYLE
\*------------------------------------*/
/**
 * Aquí incluímos todos los módulos (archivos .scss) que se can
 * a compilar en el CSS definitivo: /css/style.css.
 * Si no usas algún módulo, es recomendable que elimines
 * o comentes su inclusión para no tener estilos innecesarios en tu CSS final
 * y optimizar lo máximo posible.
 */
/*------------------------------------*\
    $CONTENIDO
\*------------------------------------*/
/**
 * Contenido..................... Esto que lees

 * Variables..................... Configuramos todas las variables del framework

 * Mixins........................ Mixins de LESS

 * Helpers....................... Clases de ayuda

 * Reset......................... Reinicio de valores CSS

 * Fuentes....................... Fuentes que vamos a importar

 * Links......................... Formas y estilos de los links

 * Tablas........................ Estilos de las tablas

 * Botones....................... Estilos de Botones, skins y variantes

 * Elementos..................... Elementos varios como Imagen, HR, etc...

 * Tipografía.................... Encabezados, small, párrafos, listas, etc...

 * Navegación.................... Una navegación, por si quieres usar esta y no la tuya propia

 * Formularios................... Estilos de todos los elementos de formularios y sus variantes

 * Sitio......................... Aquí escribes tus estilos para la web se vea como tu quieres ;)

 * Paginación.................... Estilos básicos para las paginaciones

 * Texturas...................... Badges, cajas y wells

 * Breakpoints................... Importamos breakpoints basados en las variables @bp$

 * Patron........................ Estilos para la guía de patrones
 */
/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/**
 *
 * Definimos y configuramos las variables CSS que vamos a utilizar
 *
 */
/*------------------------------------*\
    $BREAKPOINTS
\*------------------------------------*/
/**
 * "Start with the small screen first, then expand until it looks like shit. Time to insert a breakpoint!"
 */
/*------------------------------------*\
    $BORDER-BOX
\*------------------------------------*/
/**
 * Quieres todos los elementos tener un box-sizing:border-box?
 * paulirish.com/2012/box-sizing-border-box-ftw ?
 */
/*------------------------------------*\
    $no-mediaquery-class
\*------------------------------------*/
/**
 * Si decides incluir lt-ie9 para dar soporte a navegadores sin estilos
 * esta es la clase que se añadirá a todos los elementos.
 */
/*------------------------------------*\
    $IMAGE-DIR
\*------------------------------------*/
/**
 * Con agregar esta variable a las imágenes declaradas en CSS apañamos:
 */
/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
/**
 * Definimos elementos constantes del layout
 */
/*------------------------------------*\
    $FONT-FACE
\*------------------------------------*/
/**
 * Definimos las fuentes a utilizar:
 * $basefont para todos los textos inline
 * $altfont para textos alternativos, como citas, intro, etc...
 * $codefont para código
 */
/*------------------------------------*\
    $TAMAÑOS
\*------------------------------------*/
/**
 * Definimos las fuentes a utilizar:
 * $basefont para todos los textos inline
 * $altfont para textos alternativos, como citas, intro, etc...
 * $codefont para código
 */
/*------------------------------------*\
    $COLORS
\*------------------------------------*/
/**
 * Brand stuff
 */
/**
 * Escala de grises
 * A veces no queremos que el negro sea "negro" o el blanco "blanco", puedes cambiarlos.
 */
/*------------------------------------*\
    $TEXTURAS
\*------------------------------------*/
/**
 * Definimos Colores y elementos de popups, mensajes de alerta, etc...
 */
/* Colores sociales -> son los colores corporativos, pero cambiadlos
 * si hace falta. (también podéis añadir más)  ///////////////////////
 */
/**
 * Very simple, pared-back, mobile-first, responsive nav.
 */
/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/**
* Centrar y dar un ancho máximo igual a $pagemaxwidth.
*/
/*------------------------------------*\
    $PLACEHOLDERS
\*------------------------------------*/
a {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#bfbfbf));
  background-image: -webkit-linear-gradient(top, transparent 50%, #bfbfbf 50%);
  background-image: linear-gradient(to bottom, transparent 50%, #bfbfbf 50%);
  background-repeat: repeat-x;
  -webkit-background-size: 2px 2px;
  background-size: 2px 2px;
  background-position: 0 93%;
  text-shadow: 1px 0 white,2px 0 white,-1px 0 white,-2px 0 white;
}

/**
* The ghost, nudged to maintain perfect centering
*/
/**
* Escondemos el texto solo VISUALMENTE
*/
/**
* Escondemos el texto de VISUALMENTE y SCREENREADERS
*/
/**
* Escondemos pero mantenemos layout.
*/
/**
* Visualmente escondido, pero se puede detectar con teclado (focus).
*/
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  position: static;
  clip: auto;
  height: auto;
  width: auto;
  margin: 0;
  overflow: visible;
}

/**
* Clear floats.
* http://bit.ly/1e3YaBH
*/
/**
* Gradientes los ocnvertimos en placeholders porque imprime 10 millones de
* líneas inútiles en el CSS
*/
/*------------------------------------*\
    $RESET
\*------------------------------------*/
html, body, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article, aside, figure, footer, header, hgroup, nav, section {
  display: block;
}

/**
* Ningún padding jodiendo la marrana.
*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/*------------------------------------*\
    $FUENTES
\*------------------------------------*/
/*
 * Por defecto incluyo una fuente de icomoon (http://icomoon.io/)
 * con 5 iconos que se encuentra en la carpeta /fonts.
 * Ve y adàptalos a tu web.
 */
@font-face {
  font-family: 'wakkos';
  src: url("../fonts/wakkos.eot?4ani1o");
  src: url("../fonts/wakkos.eot?#iefix4ani1o") format("embedded-opentype"), url("../fonts/wakkos.woff?4ani1o") format("woff"), url("../fonts/wakkos.ttf?4ani1o") format("truetype"), url("../fonts/wakkos.svg?4ani1o#wakkos") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: "Courier New", monospace;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (min-width: 48em) {
  [class^="icon-"], [class*=" icon-"] {
    font-family: 'wakkos';
    font-size: 2em;
    line-height: 2;
  }
}

.icon-phone:before {
  content: "Tel.: ";
}
@media (min-width: 48em) {
  .icon-phone:before {
    content: "\e601";
  }
}

.icon-email:before {
  content: "Email: ";
}
@media (min-width: 48em) {
  .icon-email:before {
    content: "\e602";
  }
}

.icon-codepen:before {
  content: "Codepen: ";
}
@media (min-width: 48em) {
  .icon-codepen:before {
    content: "\e600";
  }
}

.icon-twitter:before {
  content: "Twitter:";
}
@media (min-width: 48em) {
  .icon-twitter:before {
    content: "\e604";
  }
}

.icon-github:before {
  content: "Github";
}
@media (min-width: 48em) {
  .icon-github:before {
    content: "\e609";
  }
}

/*------------------------------------*\
    $LINKS
\*------------------------------------*/
a {
  text-decoration: none;
  color: #69d2e7;
}
a:visited {
  color: #69d2e7;
}
a:hover {
  text-decoration: none;
  color: #3dc5e0;
}
a:focus {
  outline: thin dotted;
  color: #3dc5e0;
}
a:hover, a:active {
  outline: 0;
}

/*------------------------------------*\
    $ELEMENTOS-IMÁGENES
\*------------------------------------*/
img {
  max-width: 100%;
  border-width: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

/*------------------------------------*\
    $TIPOGRAFÍA
\*------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: times, "Times New Roman", "times-roman", georgia, serif;
  font-weight: bold;
  color: inherit;
  text-rendering: optimizelegibility;
}
h1.altheader,
h2.altheader,
h3.altheader,
h4.altheader,
h5.altheader,
h6.altheader {
  color: gray;
  text-transform: uppercase;
}

h1 small,
h2 small,
h3 small {
  font-weight: normal;
  display: block;
  color: gray;
  font-size: 16px;
  font-size: 1rem;
}

h1,
.h1 {
  margin-bottom: 0.75em;
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.2;
}

h2,
.h2 {
  margin-bottom: 0.5em;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.2;
  color: #fa6900;
}

h3,
.h3 {
  margin-bottom: 0.375em;
  font-size: 21px;
  font-size: 1.3125rem;
  line-height: 1.3;
}

h4,
.h4 {
  margin-bottom: 0.25em;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.25;
}

h5,
.h5 {
  font-size: 16px;
  font-size: 1rem;
  margin-bottom: 0.25em;
}

h6,
.h6 {
  margin-bottom: 0.25em;
  font-size: 14px;
  font-size: 0.875rem;
}

p,
ol,
ul,
dl,
address {
  margin-bottom: 1.5em;
  line-height: 1.5em;
}

.intro {
  font-weight: bold;
}

small {
  font-size: 12px;
  font-size: 0.75rem;
  color: gray;
}

ul,
ol {
  margin: 0 0 1.5em 0;
  padding: 0 0 0 24px;
}

li ul,
li ol {
  margin: 0;
}

blockquote {
  margin: 0 0 1.5em 0;
  padding-left: 24px;
  border-left: 2px solid #fffcfa;
  font-family: Georgia, Times, "Times New Roman";
  font-style: normal;
}
blockquote p {
  font-size: 18px;
  font-size: 1.125rem;
  color: gray;
  font-style: italic;
}

q {
  quotes: none;
  font-style: italic;
}

blockquote p::before,
blockquote p::after,
q:before,
q:after {
  content: "";
}

cite {
  font-style: normal;
}

dl,
dd {
  margin-bottom: 1.5em;
}

dt {
  font-weight: bold;
}

.dl-horizontal dt {
  float: left;
  clear: left;
  width: 20.25%;
  text-align: right;
}
.dl-horizontal dd {
  margin-left: 22.78%;
}

abbr[title] {
  border-bottom: 1px dotted #fffcfa;
  cursor: help;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

ins {
  background-color: white;
  color: #262626;
  text-decoration: none;
}

mark {
  background-color: yellow;
  color: #262626;
}

pre,
code,
kbd,
samp {
  font-family: "Courier New", monospace;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.5em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

sub,
sup {
  position: relative;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 0;
  vertical-align: 1.5em;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

/*------------------------------------*\
    $NAVEGACIÓN
\*------------------------------------*/
.toggle-nav {
  display: none;
}

.switch {
  	/**
       * Place a hamburger (don’t hate the player, hate the game...) icon
       * over the top of our nav element. It is a <label> that triggers 
       * a checkbox.
       */
}
.switch:after {
  content: "☰";
  font-size: 16px;
  width: 1em;
  line-height: 1;
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -8px;
}
@media (min-width: 48em) {
  .switch:after {
    content: normal;
    content: none;
  }
}
@media (min-width: 48em) {
  .switch {
    display: none;
  }
}

/*
 * Navegación, oculta en resoluciones pequeñas.
 */
.nav-main {
  position: absolute;
  top: 0.375em;
  right: 6px;
  z-index: 100;
  width: 44px;
  height: 52.8px;
  color: white;
  background-color: black;
  overflow: hidden;
  border-radius: 0;
  cursor: pointer;
}
@media (min-width: 48em) {
  .nav-main {
    position: static;
    width: auto;
    height: auto;
    display: table;
    width: 100%;
    vertical-align: top;
    min-width: 275px;
    margin-bottom: 1.5em;
    background-color: black;
  }
}

/**
 * When the checkbox is :checked, we simply allow the absolutely positioned
 * dropdown to be seen.
 */
.toggle-nav:checked + {
  /**
   * Change the hamburger to a cross when the nav is open.
   */
}
.toggle-nav:checked + .nav-main {
  overflow: visible;
}
.toggle-nav:checked + .switch:after {
  content: "✕";
  /**
   * Remove the cross on wider viewports.
   * We have to repeat this chunk because of limitations with Sass.
   */
}
@media (min-width: 48em) {
  .toggle-nav:checked + .switch:after {
    content: normal;
    content: none;
  }
}

	/**
     * The absolutely positioned dropdown of links.
     *
     * 1. Position the dropdown underneath the trigger.
     */
.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 52.8px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  width: 290px;
  border-radius: 2px;
  z-index: -1;
}
@media (min-width: 48em) {
  .nav__list {
    padding-top: 0;
    position: static;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    width: 100%;
    display: table;
    text-align: right;
    z-index: 100;
    border-radius: 0;
  }
}

.nav__item {
  background-color: black;
}
@media (min-width: 48em) {
  .nav__item {
    display: table-cell;
    text-align: center;
    margin-left: 24px;
    vertical-align: middle;
  }
}
.nav__item a, .nav__item a:visited {
  font-family: "Courier New", monospace;
  font-size: 12px;
  font-size: 0.75rem;
  color: white;
  display: block;
  padding-left: 14px;
  line-height: 44px;
  text-shadow: none;
  background: none;
}
.nav__item a:hover, .nav__item a:visited:hover, .nav__item a:visited:hover, .nav__item a:visited:visited:hover {
  text-decoration: none;
}
@media (min-width: 48em) {
  .nav__item a, .nav__item a:visited {
    padding-left: 0;
  }
}
.nav__item.active, .nav__item:hover {
  border-right: 10px solid #69d2e7;
  background-color: #262626;
}
@media (min-width: 48em) {
  .nav__item:hover {
    border-right: none;
    background-color: transparent;
  }
}
@media (min-width: 48em) {
  .nav__item .icontext {
    display: none;
  }
}

.download {
  background-color: #5bb75b;
}
@media (min-width: 48em) {
  .download {
    padding: 0 24px;
    line-height: 2;
    max-width: 50px;
    text-align: center;
  }
}
.download:hover {
  background-color: #449b44;
}

/*------------------------------------*\
    $SITIO
\*------------------------------------*/
@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
html {
  background: white;
  font-size: 120%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: white;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: transparent;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5em;
  color: #262626;
}

/**
* A partir de aquí es donde debes escribir los estilos de posicionamiento
* y detalles que forman tu web. Disfruta!
*/
main {
  padding: 1.5em 24px;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  width: 100%;
}

.wakkos {
  display: block;
  border-radius: 100%;
  margin: 0 auto 1.5em;
  box-shadow: 0 0 0 2px #69d2e7, 0 0 0 5px #d8f0e3;
}

.experience {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -ms-column-count: 2;
  -o-column-count: 2;
  column-count: 2;
}
